@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

@layer components{
    button{
      @apply p-4 rounded-md bg-green-500 text-white;
    }

    button:disabled, button:disabled:hover {
      @apply bg-gray-400 text-gray-200 cursor-not-allowed;
    }
  }

}
